.album-show {
    max-width: 1600px;
    width: 93%;
    display: flex;
    img {
        width: 20%;
        max-width: 460px;
        max-height: 460px;
        height: 100%;
        border-radius: 5px;
    }
    .album-show-info {
        width: 80%;
        margin-left: 30px;
        .album-show-name {
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: white;
            font-weight: 500;
            font-size: 30px;
            text-align: left;
        }
        .album-show-artist {
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: rgb(0, 60, 255);
            font-weight: 400;
            font-size: 20px;
            text-align: left;
            padding-top: 10px;
        }
        .album-year {
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: rgb(92, 92, 92);
            font-weight: 200;
            font-size: 12px;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 30px;
            border-bottom: solid #343434;
            border-width: 1px; 
        }
        .songs-grid {
            display: grid;
            max-width: 100%;
            grid-template-columns: 100%;
            grid-auto-rows: 50px;
            overflow: hidden;
            p {
                font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                color: white;
                font-weight: 300;
                font-size: 14px;
                
            }
            .song-name {
                float: right;
                width: 100%;
                padding-left: 20px;
            }
            .song-container {
                padding-left: 20px;
                display: flex;
                border-bottom: solid #343434;
                border-width: 1px; 
                align-items: center;
                text-align: left;
                button {
                    background-color: transparent;
                    appearance: none;
                    border: none;
                    outline: none;
                    display: flex;
                    width: 29.3px;
                    i {
                        
                        
                        margin-bottom: -5px;
                        font-size: 20px;
                        visibility: hidden;
                    }
                    p {
                        margin-left: -16px;
                        visibility: visible;
                        width: 100%;
                    }

                    
                }
                button:hover {
                    cursor: pointer;
                    i {
                        visibility: visible;
                        color: rgb(0, 60, 255);
                    }
                    p {
                        visibility: hidden;
                    }
                }
            }
            .song-container:hover {
                background-color: #464646;
            }
        }

    }
}

.album-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    grid-template-rows: 100%;
    li .album-picture-link img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    li {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }

    li .album-outter-link p {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        line-height: 1.5;
        font-size: 14px;
        font-weight: 300;
        text-decoration: none;
    }
    li .album-outter-link p {
        text-decoration: none;
    }

    li .album-outter-link .album-artist-link {
        font-size: 10px;
        font-weight: 300;
        color: #b2b2b2;
    }

    li .album-outter-link {
        display: flex;
        flex-direction: column;
    }
}