.album-show {
    margin-left: 260px;
    .songs-grid {
        display: grid;
        height: 500px;
        width: 100%;
        grid-template-columns: 100%;
        grid-auto-rows: 500px;
        overflow-y: scroll;
    }
}