.app-nav {
    display: flex;
    height: 100vw;
    flex-direction: column;
    float: left;
    width: 259px;
    background-color: rgba(38,38,38,255);
    position: fixed;
    top: 0;
    border-right: solid #343434;
    border-width: 0.5px;
    button {
        margin-left: 25px;
        margin-right: 25px;
        background-color: rgba(38,38,38,255);;
        appearance: none;
        border: none;
        outline: none;
        line-height: 2.25;
        text-align: left;
        border-radius: 5px;
    }
    button .link {
        text-decoration: none;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 350;
        color: rgb(194, 194, 194);
        height: 100%;
        width: 100%;
    }
    button:hover {
        background-color: #727272;
    }
    button .link:hover {
        cursor: pointer;
    }
    .playlist-index {
        width: 100%;
        .playlist-header {
            display: flex;
            padding-left: 32px;
            padding-right: 10px;
            justify-content: space-between;
            align-items: center;
            h3 {
                font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                font-size: 10px;
                font-weight: 350;
                color: rgb(194, 194, 194);
            }
            button {
                line-height: 1;
                color: rgb(194, 194, 194);
                font-size: 22px;
            }
            button:hover {
                background-color: rgb(11, 68, 255);
            }
        }
        ul {
            li{
                margin-left: 31px;
                margin-right: 31px;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 8px;
                padding-right: 8px;
                a{
                    text-decoration: none;
                    color: rgb(194, 194, 194);
                    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                    font-size: 14px;
                    font-weight: 350;
                    padding-left: 3px;
                }
                i {
                    visibility: visible;
                    color: white;
                    font-size: 17px;
                }
            }
            li:hover {
                background-color: #727272;
                border-radius: 5px;
            }
        }
    }
}


.mango-logo {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 22px;
    .small-logo {
        height: 25px;
        width: 30px;
        margin-right: -5px;
    }
    
    font-size: 25px;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    
}

.nav-search {
    margin-top: 25px;
    margin-bottom: 25px;
    outline: none;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 2.1;
    background-color: #1F1F1F;
    appearance: none;
    border: solid rgba(19, 19, 19, 0.604);
    border-radius: 3px;
    border-width: 1px;
}