.artist-grid {
    display: grid;
    height: 100%;
    width: 100%;
    grid-auto-flow: column;
    grid-auto-columns: 50%;
    grid-template-rows: 100%;
    li .artist-picture-link img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
    }
    li {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }
    li .artist-outter-link .artist-link {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 350;
        text-decoration: none;
    }
    li .artist-desc {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: rgb(167, 167, 167);
        font-size: 14px;
        font-weight: 300;
        padding-top: 20px;
        padding-bottom: 10px;
    }
}

.artist-show {
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 90%;
    align-items: flex-start;
    .artist-box  {
        padding-top: 40px;
        width: 103%;
        text-align: left;
        display: flex;
        align-self: center;
        flex-direction: column;
        background-image: linear-gradient(#202020, #282828);
        .artist-pic {
            display: flex;
            align-self: center;
            width: 10vw;
            height: 100%;
            border-radius: 50%;
        }
        .artist-show-name {
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: white;
            font-size: 30px;
            font-weight: 400;
            padding-left: 50px;
            margin-top: -20px;
            padding-bottom: 20px;
        }
    }

    .artist-header {
        padding-top: 20px;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 10px;
        
    }
    .essential-albums {
        width: 100%;
        border-bottom: solid #343434;
        border-width: 1px; 
        .albums-grid {
            display: grid;
            height: 100%;
            width: 100%;
            max-width: 600px;
            grid-auto-flow: column;
            grid-auto-columns: 50%;
            grid-template-rows: 100%;
            li .album-picture-link img {
                height: 100%;
                width: 100%;
                border-radius: 5px;
            }
            li {
                display: flex;
                flex-direction: column;
                margin-right: 5%;
                padding-bottom: 5px;
            }
            li .album-year {
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: flex-start;
                i {
                    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                    color: white;
                    font-size: 14px;
                    text-decoration: none;
                    line-height: 1.4;
                }
                
            }
            li .album-year:last-child {
                color: rgb(175, 175, 175);
            }
        }
    }
    .artist-show-desc {
        text-align: left;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: rgb(216, 216, 216);
        font-size: 12px;
        max-width: 600px;
        line-height: 1.4;
        text-decoration: none;
    }
}