.browse {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1600px;
    width: 93%;
    text-align: left;
    .browse-header {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        font-weight: 500;
        font-size: 34px;
        text-align: start;
        padding-bottom: 10px;
        width: 100%;
    }
    .browse-headers {
        padding-top: 15px;
        font-weight: 400;
        font-size: 18px;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        border-top: solid #343434;
        border-width: 1px;
        padding-bottom: 10px;
        width: 100%;
    }
}

