.player-toolbar {
    height: 55px;
    margin-left: 260px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(43, 43, 43, 0.95);
    border-bottom: solid #343434;
    border-width: 1px;
    position: sticky;
    top: 0px;

    .player {
        display: flex;
        width: 16vw;
        max-width: 400px;
        justify-content: center;
        button {
            background-color: #2b2b2b;
            border: none;
            appearance: none;
            color: #4b4b4b;
            outline: none;
        }
        .play-button {
            font-size: 20px;
            color: #868686;

        }
        .next-button {
            font-size: 20px;
            color: #868686;
        }
        .rewind-button {
            color: #868686;
            font-size: 20px;
        }
    }
    .current-info {
        display: flex;
        justify-content: center;
        width: 30vw;
        max-width: 600px;
        height: 45px;
        img {
            height: 45px;
        }
        .info {
            background-color: #464646;
            border-bottom-right-radius: 2px;
            border-top-right-radius: 2px;
            display: flex;
            width: 100vw;
            justify-content: center;
            align-items: center;
            height: 45px;
            .default-info-logo {
                height: 35px;
                width: 40px;
            }
        }
        .with-info {
            width: 100vw;
            display: flex;
            background-color: #464646;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            flex-direction: column;
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: white;
            font-size: 14px;
            justify-content: center;
            p {
                padding-left: 16px;
            }
            .song-artist {
                color :#808080;
                font-size: 12px;
            }
        }
        .default-logo {
            height: 35px;
            width: 40px;
        }
    }
    .volume-slider {
        display: flex;
        align-items: center;
        max-width: 300px;
        .volume-icon {
            transform: scale(.8, 0.7);
            color: #d3d3d3;
        }
        #myRange {
            margin-left: 5px;
            -webkit-appearance: none;
            width: 100%;
            max-width: 70px;
            height: 3px;
            border-radius: 5px;  
            background: #d3d3d3;
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
    }
    #myRange::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 12px;
        height: 12px;
        border-radius: 50%; 
        background: white;
        cursor: pointer;
    }
    .logout-button {
        margin-left: 10px;
        margin-right: 20px;
        color: white;
        background-color: #FA2D48;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        line-height: 2.0;
        appearance: none;
        outline: none;
        border-style: none;
        border-radius: 5px;
    }
    button:hover {
        cursor: pointer;
    }
    
}