.playlist-show {
    max-width: 1600px;
    width: 93%;
    display: flex;
    img {
        width: 20%;
        max-width: 460px;
        max-height: 460px;
        height: 100%;
        border-radius: 5px;
    }
    .playlist-show-info {
        width: 80%;
        margin-left: 30px;
        .playlist-edit {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            border-bottom: solid #343434;
            border-width: 1px;    

            button {
                background-color: #FA2D48;
                color: white;
                outline: none;
                appearance: none;
                border-radius: 3px;
                border: none;
                height: 100%;
                margin-right: 90px;
                align-self: flex-end;
            }
            input {
                width: 80%;
                height: 50px;
                background: transparent;
                font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                color: white;
                font-weight: 500;
                font-size: 30px;
                outline: none;
                border: none;
                appearance: none;
            }
            input:focus {
                background: #343434;
            }
        }
        // .playlist-show-name {
        //     font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        //     color: white;
        //     font-weight: 500;
        //     font-size: 30px;
        //     text-align: left;
        // }
        // .playlist-show-artist {
        //     font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            
        //     font-weight: 400;
        //     font-size: 20px;
        //     text-align: left;
        //     padding-top: 10px;
        //     width: 100%;
        //     text-decoration: none;
        //     a {
        //         text-decoration: none;
        //         color: rgb(16, 72, 255);
        //     }
        // }
        // .playlist-year {
        //     font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        //     color: rgb(92, 92, 92);
        //     font-weight: 200;
        //     font-size: 12px;
        //     text-align: left;
        //     padding-top: 10px;
        //     padding-bottom: 30px;
        // }
        .playlist-show{
            .songs-grid {
                
                display: grid;
                width: 100%;
                grid-template-columns: 100%;
                grid-auto-rows: 50px;
                overflow: hidden;
                p {
                    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                    color: white;
                    font-weight: 300;
                    font-size: 14px;
                    
                }
                .song-name {
                    float: right;
                    width: 100%;
                    padding-left: 20px;
                }
                .song-container-container {
                    border-bottom: solid #343434;
                    border-width: 1px; 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .song-container {
                        padding-left: 20px;
                        display: flex;
                        align-items: center;
                        text-align: left;
                        width: 80%;
                        height: 100%;
                        button {
                            background-color: transparent;
                            appearance: none;
                            border: none;
                            outline: none;
                            display: flex;
                            width: 29.3px;
                            i {
                                align-self: center;
                                
                                margin-bottom: -5px;
                                font-size: 20px;
                                visibility: hidden;
                            }
                            p {
                                margin-left: -16px;
                                visibility: visible;
                                width: 100%;
                            }

                            
                        }
                        button:hover {
                            cursor: pointer;
                            i {
                                visibility: visible;
                                color: white;
                                font-size: 15px;
                            }
                            p {
                                visibility: hidden;
                            }
                        }
                    }
                    // dropdown logic
                    i {
                        color: white;
                        ul {
                            display: none;
                            transition: all 0.2s;
                        }
                    }
                    i:hover {
                        ul {
                            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                            color: white;
                            font-weight: 400;
                            font-size: 14px;
                            text-align: left;
                            padding-top: 5px;
                            margin-left: -120px;
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            width: 180px;
                            position: absolute;
                            background-color: #464646;
                            opacity: .9;
                            border: 1px solid #343434;
                            border-radius: 5px;                       
                            li {
                                padding-left: 7px;
                                padding-bottom: 2px;
                            }
                            li:hover {
                                cursor: default;
                            }
                            button {
                                width: 100%;
                                background: none;
                                border: none;
                                appearance: none;
                                outline: none;
                                font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
                                color: white;
                                font-weight: 400;
                                font-size: 14px;
                                padding-top: 2px;
                                padding-bottom: 2px;
                                text-align: left;
                            }
                            button:hover {
                                cursor: pointer;
                                background: rgb(11, 68, 255);
                                border-radius: 5px;
                            }
                        }
                    }
                    button {
                        background: transparent;
                        color: white;
                        margin-left: -40px;
                        font-size: 30px;
                        outline: none;
                        appearance: none;
                        border: none;
                        margin-top: -5px;
                        line-height: .6;
                    }
                    button:hover {
                        color: #FA2D48;
                        background-color: white;
                        cursor: pointer;
                        border-radius: 6px;
                    }
                }
                .song-container-container:hover {
                    background-color: #464646;
                    cursor: pointer;
                }
            }
        }
    }
}