.browse .songs-grid {
    display: grid;
    // height: 100%;
    // width: max-content;
    height: 100%;
    width: max-content;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    grid-template-rows: repeat(3, 33%);
    overflow-x: scroll;
    overflow-y: hidden;
}