/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  height: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* modal */
.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .modal-background .modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%; }

.login-form-box, .signup-form-box {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #333333;
  align-items: center;
  max-width: 800px;
  width: 100vw;
  z-index: 3;
  border: none;
  border-radius: 10px;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative; }
  .login-form-box .login-form, .login-form-box .signup-form, .signup-form-box .login-form, .signup-form-box .signup-form {
    display: flex;
    flex-direction: column; }
  .login-form-box .logo, .signup-form-box .logo {
    padding-top: 22px;
    width: 90px;
    height: 80px; }
  .login-form-box .close-x, .signup-form-box .close-x {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 16px;
    transform: scale(1.4, 1);
    font-weight: 300;
    font-size: 22px;
    cursor: pointer;
    color: gray; }
  .login-form-box .session-submit, .signup-form-box .session-submit {
    width: 100%;
    outline: none;
    padding-top: 100px; }
  .login-form-box .other-form, .signup-form-box .other-form {
    width: 100%;
    outline: none;
    padding-top: 20px;
    padding-bottom: 50px; }

.login-email, .login-password, .signup-email, .signup-password {
  border-style: none;
  vertical-align: middle;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 345;
  line-height: 2.5;
  width: 300px;
  background-color: #0a0a0a96;
  color: white;
  outline: none;
  padding-left: 1vw; }

.login-email, .signup-email {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 40px; }

.session-inputs {
  padding-left: 20px; }

.session-error {
  padding-top: 5px;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

.login-password, .signup-password {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.signin-header, .signup-header {
  font-size: 24px;
  font-style: normal;
  padding-top: 20px; }

.sign-in-info, .signup-info {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  padding-top: 25px; }

.session-submit, .other-form {
  border-style: none;
  background-color: #333333;
  color: #66bbff;
  cursor: pointer;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 348; }

.session-submit:hover, .other-form:hover {
  text-decoration: underline; }

/* app navigator */
.app-nav {
  display: flex;
  height: 100vh;
  flex-direction: column;
  float: left;
  width: 259px;
  background-color: #262626;
  position: absolute;
  top: 0;
  border-right: solid #343434;
  border-width: 0.5px; }
  .app-nav button {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #262626;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 350;
    color: #c2c2c2;
    appearance: none;
    border: none;
    line-height: 2.25;
    text-align: left; }
    .app-nav button :hover {
      cursor: pointer; }

.mango-logo {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 22px;
  font-size: 25px;
  color: white;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .mango-logo .small-logo {
    height: 25px;
    width: 30px;
    margin-right: -5px; }

.nav-search {
  margin-top: 25px;
  margin-bottom: 25px;
  outline: none;
  margin-left: 25px;
  margin-right: 25px;
  line-height: 2.1;
  background-color: #1F1F1F;
  appearance: none;
  border: solid rgba(19, 19, 19, 0.604);
  border-radius: 3px;
  border-width: 1px; }

/* splash */
.splash-page {
  display: flex;
  flex-direction: column; }

.login-signup {
  height: 55px;
  float: right;
  margin-left: 260px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .login-signup button:last-child {
    margin-left: 10px;
    margin-right: 20px; }
  .login-signup button {
    color: white;
    background-color: #FA2D48;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2.0;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 5px; }
  .login-signup button:hover {
    cursor: pointer; }

.player-toolbar {
  height: 55px;
  margin-left: 260px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b2b2b;
  border-bottom: solid #343434;
  border-width: 1px; }
  .player-toolbar .player {
    display: flex;
    width: 16vw;
    max-width: 400px;
    justify-content: center; }
    .player-toolbar .player button {
      background-color: #2b2b2b;
      border: none;
      appearance: none;
      color: #4b4b4b; }
    .player-toolbar .player .play-button {
      transform: scale(1.5);
      color: #868686; }
    .player-toolbar .player .next-button {
      transform: scale(1.5, 1.1);
      margin-left: 2px;
      color: #868686; }
    .player-toolbar .player .rewind-button {
      transform: scale(1.5, 1.1);
      margin-right: 5px;
      color: #868686; }
  .player-toolbar .current-info {
    display: flex;
    justify-content: center;
    width: 30vw;
    max-width: 600px;
    height: 45px; }
    .player-toolbar .current-info .info {
      background-color: #464646;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      display: flex;
      width: 100vw;
      justify-content: center;
      align-items: center;
      height: 45px; }
      .player-toolbar .current-info .info .default-info-logo {
        height: 35px;
        width: 40px; }
  .player-toolbar .volume-slider {
    display: flex;
    align-items: center;
    max-width: 300px; }
    .player-toolbar .volume-slider .volume-icon {
      transform: scale(0.8, 0.7);
      color: #d3d3d3; }
    .player-toolbar .volume-slider #myRange {
      margin-left: 5px;
      -webkit-appearance: none;
      width: 100%;
      max-width: 70px;
      height: 3px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
  .player-toolbar #myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer; }
  .player-toolbar .logout-button {
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    background-color: #FA2D48;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2.0;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 5px; }
  .player-toolbar button:hover {
    cursor: pointer; }

.splash {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 260px;
  text-align: center; }
  .splash .mango-logo-2 {
    display: flex;
    align-content: center;
    margin-right: 5px;
    font-size: 25px;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
    .splash .mango-logo-2 .small-logo {
      height: 25px;
      width: 30px;
      margin-right: -5px; }
  .splash .Greeting {
    padding-top: 10px;
    font-size: 62px;
    font-weight: 400;
    max-width: 600px;
    line-height: 1.1;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .splash .splash-text {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    max-width: 400px;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .splash .register-button {
    margin-top: 20px;
    line-height: 2.0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    appearance: none;
    outline: none;
    border: none; }
  .splash .register-button:hover {
    cursor: pointer; }
  .splash .upsell {
    padding-top: 102px;
    width: 70vw;
    max-width: 1200px; }

.subscribe {
  align-self: left;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: #FA2D48;
  border-style: none; }
  .subscribe :hover {
    cursor: pointer; }

.main-prompt {
  font-weight: 450;
  font-size: 24px; }

.sub-prompt {
  opacity: 0.7;
  font-weight: 300; }

.prompts {
  display: flex;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 45px;
  line-height: 1.6;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  transform: scale(1.1, 1); }

.pseudo-button {
  float: right;
  align-self: center;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
  font-size: 12px;
  border-radius: 5px; }

body {
  background-color: #202020; }

.splash-2 {
  margin-left: 260px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white; }
  .splash-2 .page-sections {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    max-width: 1600px;
    width: 93%; }
    .splash-2 .page-sections .headers {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: white;
      font-weight: 500;
      font-size: 30px;
      text-align: start;
      padding-bottom: 10px;
      border-bottom: solid #343434;
      border-width: 1px; }
    .splash-2 .page-sections .grid-text-header {
      padding-top: 15px;
      font-weight: 500;
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
    .splash-2 .page-sections .subgrids {
      padding-top: 15px;
      padding-bottom: 34px;
      border-bottom: solid #343434;
      border-width: 1px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: auto; }

/*# sourceMappingURL=application.css.map */
