/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  height: 100%; }

a {
  appearance: none;
  outline: none;
  text-decoration: none;
  color: white; }

body::-webkit-scrollbar {
  background: rgba(43, 43, 43, 0.95);
  /* color of the tracking area */ }

body::-webkit-scrollbar-thumb {
  background: gray;
  height: 10px;
  border-radius: 10px;
  border: 3px solid transparent;
  margin: 10px; }

body::-webkit-scrollbar-button {
  height: 0px;
  width: 0px; }

.whole-app {
  display: flex;
  flex-direction: column; }

.App {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 260px;
  text-align: center; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* modal */
.modal-background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2; }
  .modal-background .modal-child {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 100%; }

.login-form-box, .signup-form-box {
  display: flex;
  padding-top: 40px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  background-color: #333333;
  align-items: center;
  max-width: 800px;
  width: 100vw;
  z-index: 3;
  border: none;
  border-radius: 10px;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  position: relative; }
  .login-form-box .login-form, .login-form-box .signup-form, .signup-form-box .login-form, .signup-form-box .signup-form {
    display: flex;
    flex-direction: column; }
  .login-form-box .logo, .signup-form-box .logo {
    padding-top: 22px;
    width: 90px;
    height: 80px; }
  .login-form-box .close-x, .signup-form-box .close-x {
    z-index: 100;
    position: absolute;
    top: 16px;
    left: 16px;
    transform: scale(1.4, 1);
    font-weight: 300;
    font-size: 22px;
    cursor: pointer;
    color: gray; }
  .login-form-box .session-submit, .signup-form-box .session-submit {
    width: 100%;
    outline: none;
    padding-top: 100px; }
  .login-form-box .other-form, .signup-form-box .other-form {
    width: 100%;
    outline: none;
    padding-top: 20px;
    padding-bottom: 50px; }

.login-email, .login-password, .signup-email, .signup-password {
  border-style: none;
  vertical-align: middle;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 345;
  line-height: 2.5;
  width: 300px;
  background-color: #0a0a0a96;
  color: white;
  outline: none;
  padding-left: 1vw; }

.login-email, .signup-email {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 40px; }

.session-inputs {
  padding-left: 20px; }

.session-error {
  padding-top: 5px;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5; }

.login-password, .signup-password {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px; }

.signin-header, .signup-header {
  font-size: 24px;
  font-style: normal;
  padding-top: 20px; }

.sign-in-info, .signup-info {
  font-weight: 300;
  font-size: 18px;
  font-style: normal;
  padding-top: 25px; }

.session-submit, .other-form {
  border-style: none;
  background-color: #333333;
  color: #66bbff;
  cursor: pointer;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 348; }

.session-submit:hover, .other-form:hover {
  text-decoration: underline; }

/* app navigator */
.app-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  float: left;
  width: 259px;
  background-color: #262626;
  position: fixed;
  top: 0;
  border-right: solid #343434;
  border-width: 0.5px; }
  .app-nav button {
    margin-left: 25px;
    margin-right: 25px;
    background-color: #262626;
    appearance: none;
    border: none;
    outline: none;
    line-height: 2.25;
    text-align: left;
    border-radius: 5px; }
  .app-nav button .link {
    text-decoration: none;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 350;
    color: #c2c2c2;
    height: 100%;
    width: 100%; }
  .app-nav button:hover {
    background-color: #727272; }
  .app-nav button .link:hover {
    cursor: pointer; }
  .app-nav .playlist-index {
    width: 100%; }
    .app-nav .playlist-index .playlist-header {
      display: flex;
      padding-left: 32px;
      padding-right: 10px;
      justify-content: space-between;
      align-items: center; }
      .app-nav .playlist-index .playlist-header h3 {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 10px;
        font-weight: 350;
        color: #c2c2c2; }
      .app-nav .playlist-index .playlist-header button {
        line-height: 1;
        color: #c2c2c2;
        font-size: 22px; }
      .app-nav .playlist-index .playlist-header button:hover {
        background-color: #0b44ff; }
    .app-nav .playlist-index ul li {
      margin-left: 31px;
      margin-right: 31px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 8px;
      padding-right: 8px; }
      .app-nav .playlist-index ul li a {
        text-decoration: none;
        color: #c2c2c2;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 14px;
        font-weight: 350;
        padding-left: 3px; }
      .app-nav .playlist-index ul li i {
        visibility: visible;
        color: white;
        font-size: 17px; }
    .app-nav .playlist-index ul li:hover {
      background-color: #727272;
      border-radius: 5px; }

.mango-logo {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-left: 22px;
  font-size: 25px;
  color: white;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .mango-logo .small-logo {
    height: 25px;
    width: 30px;
    margin-right: -5px; }

.nav-search {
  padding-left: 23px;
  margin-top: 25px;
  margin-bottom: 25px;
  outline: none;
  line-height: 2.1;
  background-color: #1F1F1F;
  appearance: none;
  border: solid rgba(19, 19, 19, 0.604);
  border-radius: 3px;
  border-width: 1px;
  width: 175px;
  caret-color: #727272;
  color: #aaaaaa; }

.search-box {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 28px; }
  .search-box i {
    margin-left: 5px;
    color: #727272;
    position: absolute;
    z-index: 2;
    font-size: 15px; }

/* splash */
.splash-page {
  display: flex;
  flex-direction: column; }

.login-signup {
  height: 55px;
  float: right;
  margin-left: 260px;
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .login-signup button:last-child {
    margin-left: 10px;
    margin-right: 20px; }
  .login-signup button {
    color: white;
    background-color: #FA2D48;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2.0;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 5px; }
  .login-signup button:hover {
    cursor: pointer; }

.splash {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .splash .mango-logo-2 {
    display: flex;
    align-content: center;
    margin-right: 5px;
    font-size: 25px;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
    .splash .mango-logo-2 .small-logo {
      height: 25px;
      width: 30px;
      margin-right: -5px; }
  .splash .Greeting {
    padding-top: 10px;
    font-size: 62px;
    font-weight: 400;
    max-width: 600px;
    line-height: 1.1;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .splash .splash-text {
    padding-top: 20px;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.4;
    max-width: 400px;
    color: white;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif; }
  .splash .register-button {
    margin-top: 20px;
    line-height: 2.0;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 3px;
    appearance: none;
    outline: none;
    border: none; }
  .splash .register-button:hover {
    cursor: pointer; }
  .splash .upsell {
    padding-top: 102px;
    width: 70vw;
    max-width: 1200px; }

.subscribe {
  align-self: left;
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  bottom: 0;
  left: 0;
  background-color: #FA2D48;
  border-style: none; }
  .subscribe :hover {
    cursor: pointer; }

.main-prompt {
  font-weight: 450;
  font-size: 24px; }

.sub-prompt {
  opacity: 0.7;
  font-weight: 300; }

.prompts {
  display: flex;
  font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 45px;
  line-height: 1.6;
  padding-bottom: 5px;
  padding-top: 5px;
  color: white;
  transform: scale(1.1, 1); }

.pseudo-button {
  float: right;
  align-self: center;
  margin-right: 20px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: white;
  font-size: 12px;
  border-radius: 5px; }

body {
  background-color: #202020; }

.browse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 1600px;
  width: 93%;
  text-align: left; }
  .browse .browse-header {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    font-weight: 500;
    font-size: 34px;
    text-align: start;
    padding-bottom: 10px;
    width: 100%; }
  .browse .browse-headers {
    padding-top: 15px;
    font-weight: 400;
    font-size: 18px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    border-top: solid #343434;
    border-width: 1px;
    padding-bottom: 10px;
    width: 100%; }

.album-show {
  max-width: 1600px;
  width: 93%;
  display: flex; }
  .album-show img {
    width: 20%;
    max-width: 460px;
    max-height: 460px;
    height: 100%;
    border-radius: 5px; }
  .album-show .album-show-info {
    width: 80%;
    margin-left: 30px; }
    .album-show .album-show-info .album-show-name {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: white;
      font-weight: 500;
      font-size: 30px;
      text-align: left; }
    .album-show .album-show-info .album-show-artist {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      font-weight: 400;
      font-size: 20px;
      text-align: left;
      padding-top: 10px;
      width: 100%;
      text-decoration: none; }
      .album-show .album-show-info .album-show-artist a {
        text-decoration: none;
        color: #1048ff; }
    .album-show .album-show-info .album-year {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: #5c5c5c;
      font-weight: 200;
      font-size: 12px;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 30px;
      border-bottom: solid #343434;
      border-width: 1px; }
    .album-show .album-show-info .songs-grid {
      display: grid;
      max-width: 100%;
      grid-template-columns: 100%;
      grid-auto-rows: 50px;
      overflow: hidden; }
      .album-show .album-show-info .songs-grid p {
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        font-weight: 300;
        font-size: 14px; }
      .album-show .album-show-info .songs-grid .song-name {
        float: right;
        width: 100%;
        padding-left: 20px; }
      .album-show .album-show-info .songs-grid .song-container-container {
        border-bottom: solid #343434;
        border-width: 1px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        .album-show .album-show-info .songs-grid .song-container-container .song-container {
          padding-left: 20px;
          display: flex;
          align-items: center;
          text-align: left;
          width: 80%;
          height: 100%; }
          .album-show .album-show-info .songs-grid .song-container-container .song-container button {
            background-color: transparent;
            appearance: none;
            border: none;
            outline: none;
            display: flex;
            width: 29.3px; }
            .album-show .album-show-info .songs-grid .song-container-container .song-container button i {
              align-self: center;
              margin-bottom: -5px;
              font-size: 20px;
              visibility: hidden; }
            .album-show .album-show-info .songs-grid .song-container-container .song-container button p {
              margin-left: -40px;
              visibility: visible;
              width: 100%; }
          .album-show .album-show-info .songs-grid .song-container-container .song-container button:hover {
            cursor: pointer; }
            .album-show .album-show-info .songs-grid .song-container-container .song-container button:hover i {
              visibility: visible;
              color: white;
              font-size: 15px; }
            .album-show .album-show-info .songs-grid .song-container-container .song-container button:hover p {
              visibility: hidden; }
        .album-show .album-show-info .songs-grid .song-container-container i {
          padding-right: 20px;
          color: white; }
          .album-show .album-show-info .songs-grid .song-container-container i ul {
            display: none;
            transition: all 0.2s; }
        .album-show .album-show-info .songs-grid .song-container-container i:hover ul {
          font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
          color: white;
          font-weight: 400;
          font-size: 14px;
          text-align: left;
          padding-top: 5px;
          margin-left: -120px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 180px;
          position: absolute;
          background-color: #464646;
          opacity: .9;
          border: 1px solid #343434;
          border-radius: 5px; }
          .album-show .album-show-info .songs-grid .song-container-container i:hover ul li {
            padding-left: 7px;
            padding-bottom: 2px;
            color: #808080; }
          .album-show .album-show-info .songs-grid .song-container-container i:hover ul li:hover {
            cursor: default; }
          .album-show .album-show-info .songs-grid .song-container-container i:hover ul button {
            width: 100%;
            background: none;
            border: none;
            appearance: none;
            outline: none;
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: white;
            font-weight: 400;
            font-size: 14px;
            padding-top: 2px;
            padding-bottom: 2px;
            text-align: left; }
          .album-show .album-show-info .songs-grid .song-container-container i:hover ul button:hover {
            cursor: pointer;
            background: #0b44ff;
            border-radius: 5px; }
        .album-show .album-show-info .songs-grid .song-container-container i:hover ul:hover {
          cursor: default; }
      .album-show .album-show-info .songs-grid .song-container-container:hover {
        background-color: #464646;
        cursor: pointer; }

.album-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  grid-template-rows: 100%; }
  .album-grid li .album-picture-link img {
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .album-grid li {
    display: flex;
    flex-direction: column;
    margin-right: 5%; }
  .album-grid li .album-outter-link p {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none; }
  .album-grid li .album-outter-link p {
    text-decoration: none; }
  .album-grid li .album-outter-link .album-artist-link {
    font-size: 10px;
    font-weight: 300;
    color: #b2b2b2; }
  .album-grid li .album-outter-link {
    display: flex;
    flex-direction: column; }

/* browse */
.browse .songs-grid, .browse .browse-songs-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  grid-template-rows: repeat(3, 33%);
  overflow-x: scroll;
  overflow-y: hidden; }

.browse-songs-grid::-webkit-scrollbar {
  background: transparent;
  /* color of the tracking area */ }

.browse-songs-grid::-webkit-scrollbar-thumb {
  background: gray;
  height: 20px;
  border-radius: 20px; }

.browse-songs-grid .browse-song-container:hover {
  background-color: #464646;
  cursor: pointer; }

.browse-songs-grid .browse-song-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 45px;
  max-width: 90%;
  border-top: solid #343434;
  border-width: 1px;
  border-radius: 5px; }
  .browse-songs-grid .browse-song-container button {
    height: 100%;
    appearance: none;
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center; }
    .browse-songs-grid .browse-song-container button img {
      height: 45px;
      border-radius: 3px;
      margin-left: -34.2px; }
    .browse-songs-grid .browse-song-container button i {
      visibility: hidden;
      width: 34.2px; }
  .browse-songs-grid .browse-song-container button:hover {
    cursor: pointer; }
    .browse-songs-grid .browse-song-container button:hover i {
      visibility: visible;
      color: white;
      z-index: 2; }
    .browse-songs-grid .browse-song-container button:hover img {
      opacity: .5; }
  .browse-songs-grid .browse-song-container .browse-song-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
    width: 100%; }
    .browse-songs-grid .browse-song-container .browse-song-text p {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: white;
      font-size: 14px;
      font-weight: 300; }
    .browse-songs-grid .browse-song-container .browse-song-text .artist-name-browse {
      font-size: 12px;
      font-weight: 300;
      color: #b2b2b2; }
    .browse-songs-grid .browse-song-container .browse-song-text .artist-name-browse, .browse-songs-grid .browse-song-container .browse-song-text .song-name-browse {
      margin-left: 0; }
  .browse-songs-grid .browse-song-container .browse-song-text:hover {
    cursor: default; }

.artist-grid {
  display: grid;
  height: 100%;
  width: 100%;
  grid-auto-flow: column;
  grid-auto-columns: 50%;
  grid-template-rows: 100%; }
  .artist-grid li .artist-picture-link img {
    height: 100%;
    width: 100%;
    border-radius: 5px; }
  .artist-grid li {
    display: flex;
    flex-direction: column;
    margin-right: 5%; }
  .artist-grid li .artist-outter-link .artist-link {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 350;
    text-decoration: none; }
  .artist-grid li .artist-desc {
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #a7a7a7;
    font-size: 14px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 10px; }

.artist-show {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 90%;
  align-items: flex-start; }
  .artist-show .artist-box {
    padding-top: 40px;
    width: 103%;
    text-align: left;
    display: flex;
    align-self: center;
    flex-direction: column;
    background-image: linear-gradient(#202020, #282828); }
    .artist-show .artist-box .artist-pic {
      display: flex;
      align-self: center;
      width: 10vw;
      height: 100%;
      border-radius: 50%; }
    .artist-show .artist-box .artist-show-name {
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: white;
      font-size: 30px;
      font-weight: 400;
      padding-left: 50px;
      margin-top: -20px;
      padding-bottom: 20px; }
  .artist-show .artist-header {
    padding-top: 20px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px; }
  .artist-show .essential-albums {
    width: 100%;
    border-bottom: solid #343434;
    border-width: 1px; }
    .artist-show .essential-albums .albums-grid {
      display: grid;
      height: 100%;
      width: 100%;
      max-width: 600px;
      grid-auto-flow: column;
      grid-auto-columns: 50%;
      grid-template-rows: 100%; }
      .artist-show .essential-albums .albums-grid li .album-picture-link img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }
      .artist-show .essential-albums .albums-grid li {
        display: flex;
        flex-direction: column;
        margin-right: 5%;
        padding-bottom: 5px; }
      .artist-show .essential-albums .albums-grid li .album-year {
        display: flex;
        flex-direction: column;
        text-align: left;
        align-items: flex-start; }
        .artist-show .essential-albums .albums-grid li .album-year i {
          font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
          color: white;
          font-size: 14px;
          text-decoration: none;
          line-height: 1.4; }
      .artist-show .essential-albums .albums-grid li .album-year:last-child {
        color: #afafaf; }
  .artist-show .artist-show-desc {
    text-align: left;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #d8d8d8;
    font-size: 12px;
    max-width: 600px;
    line-height: 1.4;
    text-decoration: none; }

/* player styling */
.player-toolbar {
  height: 55px;
  margin-left: 260px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(43, 43, 43, 0.95);
  border-bottom: solid #343434;
  border-width: 1px;
  position: sticky;
  top: 0px; }
  .player-toolbar .player {
    display: flex;
    width: 16vw;
    max-width: 400px;
    justify-content: center; }
    .player-toolbar .player button {
      background-color: #2b2b2b;
      border: none;
      appearance: none;
      color: #4b4b4b;
      outline: none; }
    .player-toolbar .player .play-button {
      font-size: 20px;
      color: #868686; }
    .player-toolbar .player .next-button {
      font-size: 20px;
      color: #868686; }
    .player-toolbar .player .rewind-button {
      color: #868686;
      font-size: 20px; }
  .player-toolbar .current-info {
    display: flex;
    justify-content: center;
    width: 30vw;
    max-width: 600px;
    height: 45px; }
    .player-toolbar .current-info img {
      height: 45px; }
    .player-toolbar .current-info .info {
      background-color: #464646;
      border-bottom-right-radius: 2px;
      border-top-right-radius: 2px;
      display: flex;
      width: 100vw;
      justify-content: center;
      align-items: center;
      height: 45px; }
      .player-toolbar .current-info .info .default-info-logo {
        height: 35px;
        width: 40px; }
    .player-toolbar .current-info .with-info {
      width: 100vw;
      display: flex;
      background-color: #464646;
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
      flex-direction: column;
      font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
      color: white;
      font-size: 14px;
      justify-content: center; }
      .player-toolbar .current-info .with-info p {
        padding-left: 16px; }
      .player-toolbar .current-info .with-info .song-artist {
        color: #808080;
        font-size: 12px; }
    .player-toolbar .current-info .default-logo {
      height: 35px;
      width: 40px; }
  .player-toolbar .volume-slider {
    display: flex;
    align-items: center;
    max-width: 300px; }
    .player-toolbar .volume-slider .volume-icon {
      transform: scale(0.8, 0.7);
      color: #d3d3d3; }
    .player-toolbar .volume-slider #myRange {
      margin-left: 5px;
      -webkit-appearance: none;
      width: 100%;
      max-width: 70px;
      height: 3px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s; }
  .player-toolbar #myRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: white;
    cursor: pointer; }
  .player-toolbar .logout-button {
    margin-left: 10px;
    margin-right: 20px;
    color: white;
    background-color: #FA2D48;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 2.0;
    appearance: none;
    outline: none;
    border-style: none;
    border-radius: 5px; }
  .player-toolbar button:hover {
    cursor: pointer; }

/* playlist */
.playlist-show {
  max-width: 1600px;
  width: 93%;
  display: flex; }
  .playlist-show img {
    width: 20%;
    max-width: 460px;
    max-height: 460px;
    height: 100%;
    border-radius: 5px; }
  .playlist-show .playlist-show-info {
    width: 80%;
    margin-left: 30px; }
    .playlist-show .playlist-show-info .playlist-edit {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px; }
      .playlist-show .playlist-show-info .playlist-edit button {
        background-color: #FA2D48;
        color: white;
        outline: none;
        appearance: none;
        border-radius: 3px;
        border: none;
        height: 100%;
        margin-right: 90px;
        align-self: flex-end; }
      .playlist-show .playlist-show-info .playlist-edit input {
        width: 80%;
        height: 50px;
        background: transparent;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        color: white;
        font-weight: 500;
        font-size: 30px;
        outline: none;
        border: none;
        appearance: none; }
      .playlist-show .playlist-show-info .playlist-edit input:focus {
        background: #343434; }
    .playlist-show .playlist-show-info .playlist-show {
      border-top: solid #343434;
      border-width: 1px; }
      .playlist-show .playlist-show-info .playlist-show .songs-grid {
        display: grid;
        width: 100%;
        grid-template-columns: 100%;
        grid-auto-rows: 50px;
        overflow: hidden; }
        .playlist-show .playlist-show-info .playlist-show .songs-grid p {
          font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
          color: white;
          font-weight: 300;
          font-size: 14px; }
        .playlist-show .playlist-show-info .playlist-show .songs-grid .song-name {
          float: right;
          width: 100%;
          margin-left: 20px; }
        .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container {
          border-bottom: solid #343434;
          border-width: 1px;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container {
            display: flex;
            align-items: center;
            text-align: left;
            width: 80%;
            height: 100%; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button {
              background-color: transparent;
              appearance: none;
              border: none;
              outline: none;
              display: flex;
              width: 29.3px;
              margin-left: 20px; }
              .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button i {
                align-self: center;
                margin-bottom: -5px;
                font-size: 20px;
                visibility: hidden; }
              .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button p {
                margin-left: -16px;
                visibility: visible;
                width: 100%; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button:hover {
              cursor: pointer;
              background-color: #464646; }
              .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button:hover i {
                visibility: visible;
                color: white;
                font-size: 15px; }
              .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container .song-container button:hover p {
                visibility: hidden; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i {
            color: white; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i ul {
              display: none;
              transition: all 0.2s; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul {
            font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
            color: white;
            font-weight: 400;
            font-size: 14px;
            padding-top: 5px;
            margin-left: -120px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 180px;
            position: absolute;
            background-color: #464646;
            opacity: .9;
            border: 1px solid #343434;
            border-radius: 5px; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul li {
              padding-left: 7px;
              padding-bottom: 2px;
              color: #808080; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul li:hover {
              cursor: default; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul button {
              height: 20px;
              width: 100%;
              background: none;
              border: none;
              appearance: none;
              outline: none;
              font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
              color: white;
              font-weight: 400;
              font-size: 14px;
              padding-top: 2px;
              padding-bottom: 2px;
              text-align: left;
              margin: 0px; }
            .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul button:hover {
              cursor: pointer;
              background: #0b44ff;
              border-radius: 5px; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container i:hover ul:hover {
            cursor: default; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container button {
            background: transparent;
            color: white;
            margin-left: -40px;
            font-size: 30px;
            outline: none;
            appearance: none;
            border: none;
            margin-top: -5px;
            line-height: .6; }
          .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container button:hover {
            color: #FA2D48;
            background-color: #282828;
            cursor: pointer;
            border-radius: 6px; }
        .playlist-show .playlist-show-info .playlist-show .songs-grid .song-container-container:hover {
          background-color: #464646;
          cursor: pointer; }

/* search */
.search {
  color: white; }

/*# sourceMappingURL=application.css.map */
