.modal-background {
    position: fixed;
    background-color: rgba(0, 0, 0, 1.0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    .modal-child {
        display: flex;
        position: absolute;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 800px;
        width: 100%;
    };
};

.login-form-box, .signup-form-box {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    justify-content: center; 
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    align-items: center;
    max-width: 800px;
    width: 100vw;
    z-index: 3;
    border: none;
    border-radius: 10px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    .login-form, .signup-form {
        display: flex;
        flex-direction: column;
    }
    .logo {
        padding-top: 25px;
        width: 90px;
        height: 80px;      
    }

    .close-x {
        z-index: 100;
        position: absolute;
        top: 12px;
        left: 12px;
        transform: scale(1.4, 1);
        font-weight: 300;
        font-size: 22px;
        cursor: pointer;
        color: gray;
    }

    .session-submit {
        width: 100%;
        outline: none;
        padding-top: 100px;
    }

    .other-form {
        width: 100%;
        outline: none;
        padding-top: 20px;
        padding-bottom: 50px;
    }

}


.login-email, .login-password, .signup-email, .signup-password {
    border-style: none;
    vertical-align: middle;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 345;
    line-height: 2.5;
    width: 300px;
    background-color: #0a0a0a96;
    color: white;
    outline: none;
}

.login-email, .signup-email {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 40px;
}

.session-inputs {
    padding-left: 20px;
}
.session-error {
    padding-top: 10px;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300; 
}
.login-password, .signup-password {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.signin-header, .signup-header {
    font-size: 24px;
    font-style: normal;
    padding-top: 20px;
}

.sign-in-info, .signup-info {
    font-weight: 300; 
    font-size: 18px;
    font-style: normal;
    padding-top: 25px;
}

.session-submit, .other-form {
    border-style: none;
    background-color: rgb(51, 51, 51);
    color: rgb(102, 187, 255);
    cursor: pointer;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 15px;
    font-weight: 348;
}
.session-submit:hover, .other-form:hover {
    text-decoration: underline;
}