.splash-page {
    display: flex;
    flex-direction: column;
}

.login-signup {
    position: sticky;
    top: 0;
    height: 55px;
    float: right;
    margin-left: 260px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
        font-size: 20px;
        color: #727272;
        padding: 10px;
    }
    a:hover {
            transition: 1s;
            color: white;
    }
    a:active {
        color:rgb(92, 184, 255);
    }
    a:last-of-type {
        padding-right: 20px;
    }
    button:last-child {
        margin-left: 10px;
        margin-right: 20px;
    }
    button {
        color: white;
        background-color: #FA2D48;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        line-height: 2.0;
        appearance: none;
        outline: none;
        border-style: none;
        border-radius: 5px;
    }
    button:hover {
        cursor: pointer;
    }
}




.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .mango-logo-2 {
        display: flex;
        align-content: center;
        margin-right: 5px;
        .small-logo {
            height: 25px;
            width: 30px;
            margin-right: -5px;
        }
        font-size: 25px;
        color: white;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .Greeting {
        padding-top: 10px;
        font-size: 62px;
        font-weight: 400;
        max-width: 600px;
        line-height: 1.1;
        color: white;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    .splash-text {
        padding-top: 20px;
        font-size: 17px;
        font-weight: 300;
        line-height: 1.4;
        max-width: 400px;
        color: white;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    .register-button {
        margin-top: 20px;
        line-height: 2.0;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        font-size: 12px;
        letter-spacing: 1px;
        padding-right: 30px;
        padding-left: 30px;
        padding-top: 3px;
        padding-bottom: 3px;
        border-radius: 3px;
        appearance: none;
        outline: none;
        border: none;
    }
    .register-button:hover {
        cursor: pointer;
    }
    
    .upsell {
        padding-top: 102px;
        width: 70vw;
        max-width: 1200px;
        padding-bottom: 102px;
    }
    .upsell:hover {
        opacity: 1;
    }
}



.subscribe {
    align-self: left;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    bottom: 0;
    left: 0;
    :hover {
        cursor: pointer;
    }
    background-color: #FA2D48;
    border-style: none;
    outline: none;
}

.main-prompt {
    font-weight: 450;
    font-size: 24px;
}

.sub-prompt {
    opacity: 0.7;
    font-weight: 300;
}
.prompts {
    display: flex;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    line-height: 1.6;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    transform: scale(1.1, 1);
}
// Appear like button in and of itself
.pseudo-button {
    float: right;
    align-self: center;
    margin-right: 20px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:7px;
    padding-bottom:7px;
    background-color: white;   
    font-size: 12px;
    border-radius: 5px;
}

body {
    background-color: #202020;
}