.splash-page {
    display: flex;
    flex-direction: column;
}

.login-signup {
    float: right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
    button:last-child {
        margin-left: 10px;
        margin-right: 20px;
    }
    button {
        color: white;
        background-color: #FA2D48;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        line-height: 2.0;
        appearance: none;
        outline: none;
        border-style: none;
        border-radius: 5px;
    }
    button:hover {
        cursor: pointer;
    }
}


.splash {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 260px;
    text-align: center;
    .mango-logo-2 {
        display: flex;
        align-content: center;
        margin-right: 5px;
        .small-logo {
            height: 25px;
            width: 30px;
            margin-right: -5px;
        }
        font-size: 25px;
        color: white;
        font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    }
}
.subscribe {
    align-self: left;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100vw;
    bottom: 0;
    :hover {
        cursor: pointer;
    }
    background-color: #FA2D48;
    border-style: none;
}

.main-prompt {
    font-weight: 450;
    font-size: 24px;
}

.sub-prompt {
    opacity: 0.7;
    font-weight: 300;
}
.prompts {
    display: flex;
    font-family: SF Pro Text,SF Pro Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 45px;
    line-height: 1.6;
    padding-bottom: 5px;
    padding-top: 5px;
    color: white;
    transform: scale(1.1, 1);
}
// Appear like button in and of itself
.pseudo-button {
    float: right;
    align-self: center;
    margin-right: 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top:7px;
    padding-bottom:7px;
    background-color: white;   
    font-size: 12px;
    border-radius: 5px;
}

body {
    background-color: #1F1F1F;
}